body {
    background: linear-gradient(to right, #a8aaff, #dbb2f3, #a8aaff);
}

.donations-page {
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    background: transparent;
    max-width: 800px;
    margin: 0 auto;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.post-creator {
    font-size: 1rem;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.post-creator:hover {
    color: #0056b3;
}

.filter-search-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0px 20px;
    margin-bottom: 0.25rem; /* Added margin for spacing */
}

.category-button {
    padding: 0.5rem 1rem;
    font-size: 13px;
    min-width: 150px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.category-button:hover {
    background-color: #d4d4d4;
}

/* Side Panel Styles */
.side-panel {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden off-screen */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1000;
}

.side-panel.visible {
    left: 0; /* Slide in from the left */
}

.close-button {
    display: block;
    margin-bottom: 1rem;
    margin-left: 90%;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.close-button:hover {
    background-color: rgb(211, 211, 211);
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-filter{
    padding: 0.5rem 0.5rem;
    font-size: 13px;
    min-width: 150px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}
select option[disabled] {
    color: gray;

}
