@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@300;400&display=swap');

* {
  scroll-behavior: smooth;
}

:root {
  --blue: #7121DE;
  --purple: #D021DE;
  --pink: #DE218E;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--blue);
}

header {
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 80px);
  /* position: relative; */
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header .header-text {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 rgb(29, 29, 29),
    -1px 1px 0 rgb(29, 29, 29),
    1px -1px 0 rgb(29, 29, 29),
    -1px -1px 0 rgb(29, 29, 29);
}

header .header-title {
  font-size: 20vmin;
  margin-top: 5px;
  margin-bottom: 5px;
}

header nav {
  background-color: transparent;
  position: absolute;
  width: 100vw;
}

header nav:hover {
  background-color: var(--blue);
}

section {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  /* max-width: 950px; */
  margin: 0 auto;
  background-color: white;
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-content {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}


/* section p {
  display: block;
  width: 50%;
  text-align-last: center;
} */

/* section img {
  width: 200px;
  margin: 10px;
  max-width: 50%;
  max-height: 30vh;
  display: block;
} */

section button {
  border: none;
  background-color: var(--blue);
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: inline-block;
  box-sizing: border-box;
  transition: background-color .2s, border-radius .2s;
  margin: 10px;
  font-size: 150%;
}

section button:hover {
  border-radius: 8px;
  background-color: var(--purple);
}

/* section h2{
  text-align: center;
  width: 100%;
  font-size: 3em;
  font-weight: 300;
} */
.section-1 {
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.section-1 p {
  z-index: 3;
  margin: 5px;
  text-align: center;
  width: 100%;
  font-size: 2em;
  font-weight: 300;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
}

.section-1 .section-content {
  align-items: flex-start;
}

.section-1 img {
  width: 80%;
  transition: transform .2s;
}

.section-1 .section-content a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
}

.section-1 .section-content a:hover p {
  color: var(--blue);
  cursor: pointer;
  /* text-shadow: 0 0 5px var(--purple); */
}

.section-1 a {
  text-decoration: none;
  color: black;
}

.section-1 .section-content div:hover img {
  transform: scale(1.05);
}

.section-1 .decoration {
  background: linear-gradient(to left, var(--blue), var(--purple));
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 59% 41% 66% 34% / 54% 77% 23% 46%;
  animation: slow-rotate 10s ease infinite;
  opacity: .6;
}

.section-1 .one {
  left: -20px;
  top: -50px;
}

.section-1 .two {
  right: -20px;
  bottom: -50px;
  scale: 200%;
  animation-direction: reverse;
}

@keyframes slow-rotate {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .section-1 .section-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-1 .section-content a {
    width: 80%;
    margin-top: 20px;
  }
}

.section-2 {
  background-image: linear-gradient(to bottom, var(--purple), var(--blue));
}

.section-2 .section-content {
  color: white;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
}

.section-2 li {
  margin: 5px;
  text-align: justify;
}

.section-3 {
  position: relative;
  padding-top: 80px;
}

.section-3 svg {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.infodumps {
  background-size: 70vmin 70vmin;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.infodumps .section-content {
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
  /* text-align-last: center; */
  font-size: 150%;
}

.hidden-default {
  filter: blur(5px);
  transform: translate(0, 20px);
  opacity: 0;
  transition: 1s;
}

.hidden-side {
  filter: blur(5px);
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 1s;
}

@media screen and (max-width: 1000px) {
  .hidden-side {
    filter: blur(0px);
    transform: translate(0, 0);
    opacity: 1;
    transition: 0;
  }
}

.show {
  filter: blur(0px);
  transform: translate(0, 0);
  opacity: 1;
}

.Donations-page {
  text-align: center;
  background-color: #EEE;
  min-height: 100vh;
}

.posts-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.post-creator:hover {
  color: var(--purple);
  cursor: pointer;
  text-decoration: underline;
}

meter {
  width: 80%;
}

.post-card {
  text-align: justify;
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: white; 
  box-shadow: 10px 10px 20px rgba(189, 189, 189, 0.6);
  /* border-radius: 2vmin;
  padding: 4vmin; */
}